nav{
        background: #695D47;
        padding: 1rem;
        position: relative;
        width: 100%
}

nav ul{
        max-width: 1250px;
        list-style-type: none;
        margin: 0;
        padding: 0px 1250px;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
}

nav ul li{
        display: inline;
}

nav ul li a{
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
        display: block;
}

nav ul li a:hover{
        background-color: #5b4319;
        border-radius: 5px;
}

.header-content{
        display: flex;
        justify-content: space-between;
        top: 100px;
        align-items: center;
        width: 100%;
        overflow: hidden;
        position: relative;
}

.left-section{
        flex: 1;
        text-align: center;
}

.center-section{
        flex: 1;
        text-align: center;
}

h1{
        font-size: 40px;
        margin: 0;
}
h2{
        font-size: 100px;
        margin: 0; 
}
h3{
        font-size: 40px;
        margin: 0; 
}

body{
        font-family: "'Abril Fatface', Consolas, 'Courier New', monospace"; 
        margin: 0;
        padding: 0;
        background-image: url(front.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden;
}
